<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">키워드상세정보</h1>
	<h2><button type="submit" class="btn btn-primary" ng-click="fnGetList()">이전으로 돌아가기</button></h2>
	<!-- 
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>No</th>
					<th>연관키워드</th>
					<th>월간검색수(PC)</th>
					<th>월간검색수(모바일)</th>
					<th>월평균클릭수</th>
					<th>수집상태</th>
					<th>수집자명</th>
					<th>수집일</th>
					<th>등록일</th>
					<th></th>
				</tr>
			</thead> 
			<tbody>
				
				
			</tbody>
		</table>
	</div>
	-->
	<div class="gridStyle" ui-grid="gridOptions"></div>
</div>
   
<modal title="키워드추가" visible="showAddKeywordModal">
<table class="formTable" style="width: 100%;">
	<tr>
		<th>추가키워드</th>
		<td><input type="text" ng-model="txt.addKeyword" size="30" maxlength="30" class="form-control" /></td>
	</tr>
</table>
<hr />
<div style="text-align: center;">
	<button type="button" class="btn btn-primary" ng-click="fnAddKeyword()">추가</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
</div>
</modal>

